PORT=3000
MONGODB_URI=mongodb+srv://tokmangwang_db_user:ofh2Saz0VjAWc6kP@sme-cluster.tjzan6i.mongodb.net/?appName=sme-cluster
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
GEMINI_API_KEY=your_key